manifest {
  author = "Madeline Brannon"
  mainScript = "predicitons.nf"
  defaultBranch = "main"
  name = "vinson_pipeline"
  description = "vinsion model prediction and analysis"
  version = "0.1"
  nextflowVersion = "24.10.6"
}

// Run with a stricter shell, so errors are caught earlier
process.shell = ['/bin/bash', '-ueo','pipefail' ]

params {
    includeConfig './params.config'
}


profiles {
    // Existing Altius profile
    Altius {
        process {
            executor = "slurm"
            queue = "queue0,encode4,pool,bigmem"
            memory = { (10.GB * task.attempt * task.attempt) }
            cache = "lenient" // may need to switch to deep
            errorStrategy = { (task.exitStatus in 137..143) ? 'retry' : 'ignore' }
            maxRetries = 4

            withLabel: med_mem {
                memory = { 20.GB * task.attempt }
            }
            with_label: higher_mem {
                memory = { 40.GB * task.attempt }
            }
            withLabel: high_mem {
                memory = { 100.GB * task.attempt }
            }
        }
        
        conda.enabled = true
        
        executor {
            $slurm {
                queueSize = 600
            }
        }
    }

    new_cluster {
        
        process {
            executor = "slurm"
            queue = "hpcz-test,bigmem"
            memory = { (10.GB * task.attempt * task.attempt) }
            errorStrategy = { (task.exitStatus in 137..143) ? 'retry' : 'ignore' }
            maxRetries = 4
            
            withLabel: high_mem {
                queue = "bigmem"
                memory = { 100.GB * task.attempt }
            }
            withLabel: med_mem {
                queue = "hpcz-test,bigmem"
                memory = { 40.GB * task.attempt }
            }
            
            withLabel: gpu {
                memory = { 40.GB * task.attempt }
                cpus = 6
            }
        }
    }
    gpu {
        process {
            withLabel: gpu {
                queue = "hpcg-test"
                clusterOptions = '--gres=gpu:1'
                
                memory = { 40.GB * task.attempt }
                cpus = 8
            }
        }
    }
}