manifest {
  author = "Madeline Brannon"
  mainScript = "predict_var.nf"
  defaultBranch = "main"
  name = "vinson_pipeline"
  description = "vinsion model prediction and analysis"
  version = "0.1"
  nextflowVersion = "24.10.6"
}

// Run with a stricter shell, so errors are caught earlier
process.shell = ['/bin/bash', '-ueo','pipefail' ]

params {
    includeConfig './params.config'
}


profiles {
    // Existing Altius profile
    Altius {
        process {
            executor = "slurm"
            queue = "hpcz-test,bigmem"
            memory = { (12.GB * task.attempt * task.attempt) }
            errorStrategy = { task.exitStatus in 137..143 ? 'retry' : 'ignore' }
            maxRetries = 2
            
            withLabel: high_mem {
                queue = "bigmem"
                memory = { 100.GB * task.attempt }
            }
            withLabel: med_mem {
                queue = "hpcz-test,bigmem"
                memory = { 40.GB * task.attempt }
            }

            withLabel: gpu {
                queue = "hpcg-test"
                clusterOptions = '--gres=gpu:1'
                cpus = 6
                memory = 40.GB
            }

            
        }
        
        conda.enabled = true
        
        executor {
            $slurm {
                queueSize = 200
            }
        }
    }

    local_gpu {
            
        process {
            executor = 'local'
            
            resourceLimits = [
                memory: 100.GB,
                cpus: 12,       
                time: 24.h
            ]
            maxForks = 2 

            errorStrategy = { task.exitStatus in 137..143 ? 'retry' : 'ignore' }
            maxRetries = 2

            memory = 8.GB
            cpus = 1

            withLabel: med_mem {
                memory = 20.GB
                cpus = 4
                maxForks = 2 
            }
            
            withLabel: high_mem {
                memory = 40.GB 
                cpus = 8
                
                maxForks = 1 
            }

            withLabel: gpu {
                accelerator = 1 
                
                maxForks = 1 
                
                memory = 40.GB
                cpus = 6
                
                containerOptions = { workflow.containerEngine == 'singularity' ? '--nv' : '--gpus all' }
            }
        }
    }
}