outdir = "/mnt/calc/sbushuev/dhs_project/cell_selective_relu"

conda = "/home/sbushuev/miniconda3/bin/conda"

fasta_file = "/mnt/calc/sbushuev/genomes/hg38/hg38.fa"

train_anndata = '/mnt/calc/sbushuev/dhs_project/NOV03/NOV18_3_epochs_with_weights_fc_squared_50.h5ad'

zarr_anndata = "/mnt/calc/sbushuev/dhs_project/anndata/reference_anndata.human.stripped_layers.zarr"

genotype_file = "/mnt/calc/sbushuev/dhs_project/NOV03/all_variants_stats.bed.gz"

prediction_batch_size = 256

samples_file = "/mnt/calc/sbushuev/dhs_project/NOV03/legnet_meta.tsv"

annotation_data = "/mnt/calc/sbushuev/dhs_project/NOV03/annotation_data.tsv"
