outdir = "$launchDir/output"

conda = "/home/mbrannon/.local/miniconda3/envs/pytorch_clone"

train_anndata = '/net/seq/data2/projects/mbrannon/6_2_both.h5ad'

genotype_file = "none"

prediction_batch_size = 256

samples_file = "/net/seq/data2/projects/mbrannon/6_15_variant_predictons_agg/prediction_input_manifest.tsv"

annotation_data = "/net/seq/data2/projects/ENCODE4Plus/REGULOME/sequence_to_accessibility_model/cell_selective/annotation_data.tsv"
