conda = "/home/sabramov/miniconda3/envs/pytorch"

fasta_file = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.fa"

zarr_anndata = "/net/seq/data2/projects/ENCODE4Plus/REGULOME/one_big_beautiful_index/latest.reference_anndata.zarr"
genotype_file = "/net/seq/data2/projects/sabramov/ENCODE4/dnase-wasp.v5/output/all_variants_stats.bed.gz"

outdir = "output"

prediction_batch_size = 128

samples_file = "/home/mbrannon/tmp/first_two_rows.tsv"

annotation_data = "/net/seq/data2/projects/ENCODE4Plus/REGULOME/sequence_to_accessibility_model/cell_selective/annotation_data.tsv"

